* {
                box-sizing: border-box;
                margin: 0;
                padding: 0;
            }
            body {
                font-family: Helvetica, sans-serif;
                background: #CBDCEB;
            }
            h1 {
                text-align: center;
                margin: 20px 0;
            }
            .container {
                width: 90%;
                margin: auto;
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 30px;
            }
            form {
                background: #fff;
                padding: 20px;
                border-radius: 8px;
                border: 1px solid #ddd;
            }
            form label {
                display: block;
                margin-top: 10px;
                font-weight: bold;
            }
            form input,
            form select {
                width: 100%;
                padding: 8px;
                margin-top: 5px;
                border: 1px solid #ccc;
                border-radius: 6px;
            }
            form button {
                margin-top: 15px;
                width: 100%;
                padding: 10px;
                border: none;
                background: #007bff;
                color: white;
                font-size: 16px;
                border-radius: 6px;
                cursor: pointer;
            }
            form button:hover {
                background: #0012b3;
            }
            .invoice {
                background: #FAF8F1;
                padding: 30px;
                border: 1px solid #ddd;
                border-radius: 6px;
                width: 500px;
                margin: auto;
                display: none;
            }
            .title {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                /* border-bottom: 2px solid #000; */
                padding-bottom: 30px;
            }
            .invoice-title {
                text-align: right;
                font-size: 28px;
                font-weight: bold;

                line-height: 1;
            }
            .invoice-date {
                font-size: 14px;
            }
            .section-title {
                font-weight: bold;
                margin-top: 10px;
            }
            table {
                width: 100%;
                border-collapse: collapse;
                margin-top: 20px;
            }
            table th,
            table td {
                text-align: left;
                padding: 6px 0;
                border-bottom: 1px solid #ddd;
            }
            .totals td {
                text-align: right;
            }
            .totals td:first-child {
                text-align: left;
            }
            .qr {
                text-align: center;
                margin: 20px 0;
            }
            .footer {
                font-size: 12px;
                text-align: center;
                margin-top: 20px;
                color: #555;
                border-top: 1px solid #ddd;
                padding-top: 10px;
            }
            .actions {
                text-align: center;
                margin-top: 10px;
            }
            .actions button {
                padding: 8px 16px;
                border: none;
                background: #289d44;
                color: white;
                border-radius: 6px;
                cursor: pointer;
            }
            .actions button:hover {
                background: #1e7e34;
            }
